#coin-details{
    background-color: var(--bg-color);
    /* background-image: url('../../assets/images/Coinpage/coinpg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.coin-page-container{
    margin-top: 25px;
    width: 100%;
    display: flex;
}

@media screen and (max-width:1300px) {
    .coin-page-container{
        flex-direction: column;
    }
}