.coin-chart-container{
    width: 75%;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.coin-chart-container canvas{
    width: 100% !important;
}

.chart-days-container{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;    
    gap: 15px;
}

.chart-days-container button{
    font-size: 18px;
    font-weight: 700;
    width: 25%;
    color: var(--text-color-1);
    background-color: transparent;
    border: 2px solid var(--button-color-1);
    border-radius: 10px;
    padding: 16px 32px;
}

.chart-days-container button:hover{
background-color: var(--button-color-1);
}

@media screen and (max-width:1300px) {
    .coin-chart-container{
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width:768px) {
    .chart-days-container button{
        font-size: 16px;
        padding: 10px;
    }
}