.download-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--overlay-color-3);
    border-radius: 20px;
    padding: 16px;
}

.download-container h1{
    text-align: center;
    font-size: 40px;
    color: var(--text-color-1);
    margin-bottom: 32px;
}

.download-container h1 span{
    color: var(--text-color-4);
}

.download-apk-images{
    display: flex;
    align-items: center;
    gap: 10px;
}

.download-apk-images img{
    width: 150px;
}

@media screen and (max-width:768px) {

    .download-container h1{
        font-size: 32px;
    }
}
@media screen and (max-width:480px) {
    .download-container h1{
        font-size: 32px;
    }

    .download-apk-images{
        flex-direction: column;
    }



}