footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 350px;
    width: 100%;
}

.footer-container{
    width: 100%;
    display: grid;
}