@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --nav-color-1: #00021f;
  --bg-color-1: #000124;
  --bg-color-2: #000346;
  --text-color-1: #ffffff;
  --text-color-2: #e2e2e2;
  --text-color-3: #c7c7c7;
  --text-color-4: #eebc1d;
  --button-color-1: #1565c0;
  --table-head-color: #eebc1d;
  --white-color: #ffffff;
  --overlay-color-1: #172a4b;
}

html{
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: var(--bg-color-1);
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  background-size: 150%;

}

.resize-animation-stopper * {
  transition: none !important;
}


section{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 16px;
  overflow: hidden;
}

.container{
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.body-text{
  font-size: 18px;
  color: var(--text-color-2);
  line-height: 35px;
  letter-spacing: 1px;
}

@media screen and (max-width: 1200px) {
  .container{
    width: 100%;
  }
}