@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Montserrat', sans-serif;
}

:root{
  --bg-color-1: #000124;
  --bg-color-2: #000346;
  --text-color-1: #ffffff;
  --text-color-2: #e2e2e2;
  --button-color-1: #0b2fcf;
  --white-color: #ffffff;
}


section{
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 16px 0 16px;
  overflow: hidden;
}

.container{
  position: relative;
  width: 1140px;
  height: 100%;
  margin: 0 auto;
}

.body-text{
  font-size: 18px;
  color: var(--text-color-2);
  line-height: 35px;
  letter-spacing: 2px;
}